# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# some
/.yarn/
.yarnrc.yml

# dependencies
/node_modules
/dist
**/lib/
/packages/core/node_modules

# misc
.DS_Store
.nx/cache/

# local env files
.env*.local
.env



packages\core\__tests__\falcon.js